<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="style.css">

    <link rel="icon" type="image/x-icon" href="/static/edit-image-icon.svg">
    <title>Image Editor</title>
</head>

<body>

    <h1 id="title">Edit your Image</h1>

    <form method="POST" enctype="multipart/form-data">
        
        <section id="edit-choices">
            <button id="blur" name="operation" value="blur">Blur</button>
            <button id="resize" name="operation" value="resize">Resize</button>
            <button id="flip" name="operation" value="flip">Flip</button>
            <button id="border" name="operation" value="border">Border</button>
            <button id="gray" name="operation" value="gray">Gray</button>
        </section>

        <section id="img-preview">
            <img src="/static/upload-icon.jpeg" alt="" id="upload">
            <!-- <img src="{{ url_for('static', filename='after.jpg') }}"> -->
        </section>

        <input id="upload-btn" type="file" name="image" accept="image/*" required>

    </form>

</body>

</html>